/********** common setting **********/
h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

.texto-vermelho{
    color: #e8583b;
}

  
  .cv-item {
    padding: 35px 0 35px 35px;
    margin-top: -2px;
    border-left: 2px solid black;
    position: relative;
  }
  
  .cv-item h4 {
    line-height: 18px;
    font-weight: 550;
    color: black;
    margin-bottom: 10px;
  }
  
  .cv-item h5 {
    display: inline-block;
    margin-bottom: 10px;
    color: black;
  }
  
  .cv-item::before {
    content: ""; 
    position: absolute;
    top: 40%;
    left: -9px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #e8583b;
    border-radius: 50%;
    background-size: cover; /* Garante que a imagem cubra todo o círculo */
    background-image: url('../img/hand.png');
    background-size: 70%; /* Ajuste o tamanho da imagem aqui */
    background-repeat: no-repeat;
    background-position: center;
  }

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #00FFAD;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #00e69c;
}

.cta-blue {
    background: #192440;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #121a2e;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}

#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 300px;
}

/* Selecionar o botão quando ele não está colapsado */
.accordion-button:not(.collapsed) {
    color: #e8583b !important; /* Cor do texto quando expandido */
}

/* Transição suave para a cor e o fundo */
.accordion-button {
    transition: background-color 0.3s, color 0.3s;
}




div#whatasapp {
    position: fixed;
    right: 1%;
    bottom: 10px;
    z-index: 999;
    padding: 20px;
    border-radius: 50px;
    transition: .5s;
}

div#whatasapp:hover {
    right: 0;
    bottom: 0;
    border-radius: 140px 0px 0px 0px;
    padding: 70px;
    transition: .5s;
}


/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#price-table__premium {
    background: #192440;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #00FFAD;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #00FFAD;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #00FFAD;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}